beautifulsoup4
trafilatura
requests
urllib3
lxml
lxml_html_clean
pillow
sentence-transformers
pinecone
openai
google-genai
streamlit
tqdm
duckduckgo-search
python-dotenv
wikijs
compromise
redis
firebase-admin
flask
flask-cors
jsonschema
markupsafe
regex
